<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

    <display-name>Album</display-name>
    <description>Album</description>

	<!-- Umisteni konfigurace spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext.xml</param-value>
	</context-param>
	
	<!-- Nacteni konfigurace spring-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Inject odkudkoliv -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
    <servlet>
        <servlet-name>AlbumVaadinServlet</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		
        <init-param>
			<param-name>UI</param-name>
			<param-value>cz.moz.projects.album.ui.AlbumUI</param-value>
		</init-param>

		<init-param>
			<param-name>closeIdleSessions</param-name>
			<param-value>true</param-value>
		</init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>AlbumVaadinServlet</servlet-name>
        <url-pattern>/album/*</url-pattern>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>
    
    <context-param>
		<param-name>heartbeatInterval</param-name>
		<param-value>300</param-value>
	</context-param>

</web-app>